@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import url("photographer.css");
@import url("grid.css");
@import url("./anim.css");
:root{
    /* Color */
    --primary: #901C1C;
    --secondary: #D3573C;
    --dark-gray:#525252;
    --white:#FAFAFA;

}
*{
    
    color: black;
    box-sizing: border-box;
}
html{
    max-width: 1400px;
}
@media screen and (min-width:1400px) {
    html{
        margin: auto; 
     }
     
 }
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
a{
    text-decoration: none;
}
h1 {
    color:var(--primary);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}



.photographer_section article a:hover>img {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 40px -20px var(--dark-gray);

}
.photographer_section article a:hover>div>h2{
    transform: scale(1.05);
    transition: 0.5s;
    text-shadow: 1px 1px var(--primary);
}
.photographer_section article img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.pics_user{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.cardMedia{
    width: 100%;
    height: 100vh;
}